@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(13, 14, 36);
}

.content {
    text-align: center;
}

.text-header {
    color: white;
    font-size: 48px;
    font-weight: 400;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.download-btn {
    display: flex;
    padding: 10px 30px;
    border-radius: 50px;
    transition: transform 0.2s ease;
    border: none;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}

.download-btn {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #ffffff44;
    border-radius: 10px;
    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
}

.download-btn:hover {
    box-shadow: 0 0 0 2px rgb(0, 0, 0), 0 0 0 4px #3C82F8;
}

.download-btn:active {
    
    background-position: right center;
}

.download-btn:active {
    transform: scale(1.1);
}